In [1]:
import pandas as pd

In [3]:
# Location of data sources
folder_path = "../Data/2016_GCP_SA2/2016_GCP_SA2/"
file_name = "2016Census_G29_AUS_SA2.csv"
output_folder = "../Data/"
output_name = "census_household_income.csv"
key_columns = ["SA2_MAINCODE_2016"]
file_columns = ["Negative_Nil_income_Tot","HI_1_149_Tot","HI_150_299_Tot","HI_300_399_Tot","HI_400_499_Tot","HI_500_649_Tot",
               "HI_650_799_Tot","HI_800_999_Tot","HI_1000_1249_Tot","HI_1250_1499_Tot","HI_1500_1749_Tot","HI_1750_1999_Tot",
               "HI_2000_2499_Tot","HI_2500_2999_Tot","HI_3000_3499_Tot","HI_3500_3999_Tot","HI_4000_more_Tot","Tot_Tot"]
data_columns = key_columns + file_columns
file_path = folder_path + file_name

In [4]:
def load_csv_data(data_path, columns = [], skip_rows = 0):
    data = pd.read_csv(data_path, skiprows = skip_rows)
    if len(columns) > 0:
        data = data.loc[:,columns]
    lowercase = lambda x: str(x).lower()
    data.rename(lowercase, axis='columns', inplace=True)
    return data

def missing_values(data, columns = []):
    results = pd.DataFrame(columns = ["column_name", "total_missing"])
    for column in columns:
        col = column
        missing_value = data[column].isnull().sum()
        result = {"column_name": [col],
                  "total_missing": [missing_value]}
        result_df = pd.DataFrame(result, columns = ["column_name", "total_missing"])
        results = pd.concat([results, result_df])
    return results

In [7]:
df = load_csv_data(file_path, data_columns)

In [8]:
# Should be ~2310 as this is how many SA's there are.
len(df)

2310

In [6]:
df.head()

,sa2_maincode_2016,negative_nil_income_tot,hi_1_149_tot,hi_150_299_tot,hi_300_399_tot,hi_400_499_tot,hi_500_649_tot,hi_650_799_tot,hi_800_999_tot,hi_1000_1249_tot,hi_1250_1499_tot,hi_1500_1749_tot,hi_1750_1999_tot,hi_2000_2499_tot,hi_2500_2999_tot,hi_3000_3499_tot,hi_3500_3999_tot,hi_4000_more_tot,tot_tot
0,101021007,17,20,33,59,154,83,131,104,119,96,69,74,122,64,45,34,62,1453
1,101021008,22,13,55,88,176,97,186,179,207,190,169,189,341,238,187,131,217,2963
2,101021009,42,32,91,146,303,205,328,329,429,407,366,302,519,281,185,146,182,4621
3,101021010,22,7,30,69,105,89,126,142,212,181,134,120,241,111,92,76,126,2030
4,101021011,40,17,48,43,138,92,133,181,273,248,274,264,627,483,457,435,928,5243

In [9]:
if "hi_negative_nil_percent" not in df:
    df["hi_negative_nil_percent"] = df["negative_nil_income_tot"]/df["tot_tot"] 

if "hi_1_149_percent" not in df:
    df["hi_1_149_percent"] = df["hi_1_149_tot"]/df["tot_tot"] 
    
if "hi_150_299_percent" not in df:
    df["hi_150_299_percent"] = df["hi_150_299_tot"]/df["tot_tot"] 
    
if "hi_300_399_percent" not in df:
    df["hi_300_399_percent"] = df["hi_300_399_tot"]/df["tot_tot"] 
    
if "hi_400_499_percent" not in df:
    df["hi_400_499_percent"] = df["hi_400_499_tot"]/df["tot_tot"] 
    
if "hi_500_649_percent" not in df:
    df["hi_500_649_percent"] = df["hi_500_649_tot"]/df["tot_tot"] 
    
if "hi_650_799_percent" not in df:
    df["hi_650_799_percent"] = df["hi_650_799_tot"]/df["tot_tot"] 
    
if "hi_800_999_percent" not in df:
    df["hi_800_999_percent"] = df["hi_800_999_tot"]/df["tot_tot"] 
    
if "hi_1000_1249_percent" not in df:
    df["hi_1000_1249_percent"] = df["hi_1000_1249_tot"]/df["tot_tot"] 
    
if "hi_1250_1499_percent" not in df:
    df["hi_1250_1499_percent"] = df["hi_1250_1499_tot"]/df["tot_tot"] 
    
if "hi_1500_1749_percent" not in df:
    df["hi_1500_1749_percent"] = df["hi_1500_1749_tot"]/df["tot_tot"] 
    
if "hi_1750_1999_percent" not in df:
    df["hi_1750_1999_percent"] = df["hi_1750_1999_tot"]/df["tot_tot"] 
    
if "hi_2000_2449_percent" not in df:
    df["hi_2000_2449_percent"] = df["hi_2000_2499_tot"]/df["tot_tot"] 
    
if "hi_2500_2999_percent" not in df:
    df["hi_2500_2999_percent"] = df["hi_2500_2999_tot"]/df["tot_tot"] 
    
if "hi_3000_3449_percent" not in df:
    df["hi_3000_3449_percent"] = df["hi_3000_3499_tot"]/df["tot_tot"] 
    
if "hi_3500_3999_percent" not in df:
    df["hi_3500_3999_percent"] = df["hi_3500_3999_tot"]/df["tot_tot"] 
    
if "hi_4000_more_percent" not in df:
    df["hi_4000_more_percent"] = df["hi_4000_more_tot"]/df["tot_tot"]

In [12]:
df_columns = list(df)
missing_df = missing_values(df, df_columns)
missing_df

               column_name total_missing
0        sa2_maincode_2016             0
0  negative_nil_income_tot             0
0             hi_1_149_tot             0
0           hi_150_299_tot             0
0           hi_300_399_tot             0
0           hi_400_499_tot             0
0           hi_500_649_tot             0
0           hi_650_799_tot             0
0           hi_800_999_tot             0
0         hi_1000_1249_tot             0
0         hi_1250_1499_tot             0
0         hi_1500_1749_tot             0
0         hi_1750_1999_tot             0
0         hi_2000_2499_tot             0
0         hi_2500_2999_tot             0
0         hi_3000_3499_tot             0
0         hi_3500_3999_tot             0
0         hi_4000_more_tot             0
0                  tot_tot             0
0  hi_negative_nil_percent             0
0         hi_1_149_percent             0
0       hi_150_299_percent             0
0       hi_300_399_percent             0
0       hi_400_499_percent             0
0       hi_500_649_percent             0
0       hi_650_799_percent             0
0       hi_800_999_percent             0
0     hi_1000_1249_percent             0
0     hi_1250_1499_percent             0
0     hi_1500_1749_percent             0
0     hi_1750_1999_percent             0
0     hi_2000_2449_percent             0
0     hi_2500_2999_percent             0
0     hi_3000_3449_percent             0
0     hi_3500_3999_percent             0
0     hi_4000_more_percent             0

In [11]:
# Replace the NaN's created by calculation
df.fillna(0, inplace = True)

In [13]:
# Write data to disk
df.to_csv(output_folder + output_name, index = False)